@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght,YTLC@6..12,800,440..540&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Nunito Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  --bg-900: hsl(0, 0%, 100%);
  --text : hsl(200, 15%, 8%);
  --bg-700 : hsl(0, 0%, 80%);

  color-scheme: only light;
}

body[data-theme="dark"]{
  --bg-900: hsl(207, 26%, 17%);
  --text : hsl(0, 0%, 100%);
  --bg-700 : hsl(209, 23%, 22%);
  color-scheme: only dark;

}

body[data-theme="light"]{
  --bg-900: hsl(0, 0%, 100%);
  --text : hsl(200, 15%, 8%);
  --bg-700 : hsl(0, 0%, 80%);

  color-scheme: only light;

}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1400px;
  --breakout-max-width: 1920px;

  --breakout-size: calc(
    calc(var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - calc(var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.grids{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(min(100%,300px),1fr));
  gap: 2rem;
  justify-content: space-between;
}

option{
  padding: 0.25rem;
  border: none;
  background: inherit;
  border-radius: 0px;
}

.header-text{
  font-size: clamp(1.2rem,3vw,2.5rem);
}
.header-text-1{
  font-size: clamp(1rem,3vw,2rem);
}

.content-grid{
  background-color: var(--bg-700);
  color: var(--text);

}

.header,.search-input{
  background-color: var(--bg-900);
  color: var(--text);
}

.card{
  background-color: var(--bg-900);
  color: var(--text);
}

.country-card{
  color: var(--text);
}

*:focus-visible{
  outline: 3px solid var(--text);
  outline-offset: 3px;
  border-radius: 0.125rem;
}